@model IEnumerable<IdentityRole>


@{
	ViewData["Title"] = "Roles";
}

<h1>Users && Roles</h1>
<a class="btn btn btn-warning m-2 align-self-center" asp-action="AddUser">add new user</a>
<br/>
<partial name="_AddingRole" model="new  RolesFormViewModel()" />
<table class="table table-striped mt-2">
	<thead >
		<tr class="bg-primary text-white">
		<th>Id</th>
		<th>Name</th>
	</tr>
	
	</thead>
	<tbody>
			@foreach(var x in Model)
			{
				<tr>
				<td>@x.Id</td>
				<td>@x.Name</td>
				</tr>
			}
		
	</tbody>
</table>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
